# Drizzle
# Replace with your DB credentials!
POSTGRES_USER="hirek"
POSTGRES_PASSWORD="hirek"
POSTGRES_DB="hirek"
POSTGRES_PORT="5432"
DATABASE_URL="postgres://hirek:hirek@localhost:5432/hirek"

# Auth
BETTER_AUTH_URL="http://localhost:5173"
BETTER_AUTH_SECRET="replace-with-openssl-rand-base64-32"

# Meilisearch
MEILI_HOST="http://127.0.0.1:7700"
MEILI_MASTER_KEY="hirek_dev_master_key"
MEILI_API_KEY="hirek_dev_master_key"
MEILI_PORT="7700"
MEILI_ARTICLES_INDEX="articles"
